@model IEnumerable<Mainproject.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient_Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_Password)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Patient_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Patient_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Patient_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
